# Importing libraries

In [1]:
import pandas as pd

In [2]:
restaurant_data = pd.read_csv('restaurant_review_data.csv', encoding = 'latin1', names = ['Restaurant_name', 'Reviews_and_trustscore', 'Address', 'more_info'])

In [3]:
restaurant_data.head()

,Restaurant_name,Reviews_and_trustscore,Address,more_info
0,Cater Nation,533 reviews · TrustScore 4.9,23113 Midlothian,/review/caternation.com
1,Whidbey Island Seafood Company,300 reviews · TrustScore 4.9,98249 Freeland,/review/whidbeyseafoods.com
2,ezCater,13378 reviews · TrustScore 4.8,02109 Boston,/review/www.ezcater.com
3,SimplyOz.com,1390 reviews · TrustScore 4.8,45040 Cincinnati Ohio,/review/simplyoz.com
4,Balkanfresh,74 reviews · TrustScore 4.8,NaN,/review/www.balkanfresh.com

In [4]:
restaurant_data.tail()

,Restaurant_name,Reviews_and_trustscore,Address,more_info
139,P.F. Chang's,188 reviews · TrustScore 1.8,NaN,/review/www.pfchangs.com
140,ReStockIt.com,24 reviews · TrustScore 1.7,NaN,/review/www.restockit.com
141,Yelp,2227 reviews · TrustScore 1.6,NaN,/review/www.yelp.com
142,Nutrisystem,1916 reviews · TrustScore 1.6,NaN,/review/nutrisystem.com
143,delivery.com,1759 reviews · TrustScore 1.5,NaN,/review/delivery.com

# Data wrangling process

So we have to first break down our column names Reviews_and_trustscore into two columns so we get reviews and trustscore seperately

In [5]:
restaurant_data['Reviews'] = restaurant_data.Reviews_and_trustscore.str.split().str[0]

In [6]:
restaurant_data.head()

,Restaurant_name,Reviews_and_trustscore,Address,more_info,Reviews
0,Cater Nation,533 reviews · TrustScore 4.9,23113 Midlothian,/review/caternation.com,533
1,Whidbey Island Seafood Company,300 reviews · TrustScore 4.9,98249 Freeland,/review/whidbeyseafoods.com,300
2,ezCater,13378 reviews · TrustScore 4.8,02109 Boston,/review/www.ezcater.com,13378
3,SimplyOz.com,1390 reviews · TrustScore 4.8,45040 Cincinnati Ohio,/review/simplyoz.com,1390
4,Balkanfresh,74 reviews · TrustScore 4.8,NaN,/review/www.balkanfresh.com,74

In [7]:
restaurant_data['Trustscore'] = restaurant_data.Reviews_and_trustscore.str.split().str[-1]

In [8]:
restaurant_data.head()

,Restaurant_name,Reviews_and_trustscore,Address,more_info,Reviews,Trustscore
0,Cater Nation,533 reviews · TrustScore 4.9,23113 Midlothian,/review/caternation.com,533,4.9
1,Whidbey Island Seafood Company,300 reviews · TrustScore 4.9,98249 Freeland,/review/whidbeyseafoods.com,300,4.9
2,ezCater,13378 reviews · TrustScore 4.8,02109 Boston,/review/www.ezcater.com,13378,4.8
3,SimplyOz.com,1390 reviews · TrustScore 4.8,45040 Cincinnati Ohio,/review/simplyoz.com,1390,4.8
4,Balkanfresh,74 reviews · TrustScore 4.8,NaN,/review/www.balkanfresh.com,74,4.8

In [9]:
restaurant_data['Reviews'].shape

(144,)

Now we successfully get the two seperate columns for Reviews and Trustscore which helps in our analysis process.
Now we also have to break down the address column into two columns named Zip_code and City

In [10]:
restaurant_data['Zip_code'] = restaurant_data.Address.str.split().str[0]

In [11]:
restaurant_data['City'] = restaurant_data.Address.str.split(n = 1).str[-1]

In [12]:
restaurant_data.head(10)

,Restaurant_name,Reviews_and_trustscore,Address,more_info,Reviews,Trustscore,Zip_code,City
0,Cater Nation,533 reviews · TrustScore 4.9,23113 Midlothian,/review/caternation.com,533,4.9,23113,Midlothian
1,Whidbey Island Seafood Company,300 reviews · TrustScore 4.9,98249 Freeland,/review/whidbeyseafoods.com,300,4.9,98249,Freeland
2,ezCater,13378 reviews · TrustScore 4.8,02109 Boston,/review/www.ezcater.com,13378,4.8,02109,Boston
3,SimplyOz.com,1390 reviews · TrustScore 4.8,45040 Cincinnati Ohio,/review/simplyoz.com,1390,4.8,45040,Cincinnati Ohio
4,Balkanfresh,74 reviews · TrustScore 4.8,NaN,/review/www.balkanfresh.com,74,4.8,NaN,NaN
5,Burgers' Smokehouse,14333 reviews · TrustScore 4.7,65018 California,/review/smokehouse.com,14333,4.7,65018,California
6,Freshly,5872 reviews · TrustScore 4.7,NaN,/review/freshly.com,5872,4.7,NaN,NaN
7,Popcornopolis,4131 reviews · TrustScore 4.7,90058 Vernon,/review/popcornopolis.com,4131,4.7,90058,Vernon
8,Cameron's Seafood,2520 reviews · TrustScore 4.7,20850 Rockville,/review/cameronsseafood.com,2520,4.7,20850,Rockville
9,ReBuilt Meals,204 reviews · TrustScore 4.7,NaN,/review/rebuiltmeals.com,204,4.7,NaN,NaN

So we successfully break down the address field.
Now I want to add prefix in more_info column so it will be a complete column. As I said I scrape this data from trustpilot website so I add 'https://trustpilot.com' as prefix with every value of more_info column

In [13]:
restaurant_data['Checkout'] = "https://trustpilot.com" + restaurant_data['more_info'].astype('str')

In [14]:
restaurant_data.head()

,Restaurant_name,Reviews_and_trustscore,Address,more_info,Reviews,Trustscore,Zip_code,City,Checkout
0,Cater Nation,533 reviews · TrustScore 4.9,23113 Midlothian,/review/caternation.com,533,4.9,23113,Midlothian,https://trustpilot.com/review/caternation.com
1,Whidbey Island Seafood Company,300 reviews · TrustScore 4.9,98249 Freeland,/review/whidbeyseafoods.com,300,4.9,98249,Freeland,https://trustpilot.com/review/whidbeyseafoods.com
2,ezCater,13378 reviews · TrustScore 4.8,02109 Boston,/review/www.ezcater.com,13378,4.8,02109,Boston,https://trustpilot.com/review/www.ezcater.com
3,SimplyOz.com,1390 reviews · TrustScore 4.8,45040 Cincinnati Ohio,/review/simplyoz.com,1390,4.8,45040,Cincinnati Ohio,https://trustpilot.com/review/simplyoz.com
4,Balkanfresh,74 reviews · TrustScore 4.8,NaN,/review/www.balkanfresh.com,74,4.8,NaN,NaN,https://trustpilot.com/review/www.balkanfresh.com

Congrats! All work done now we have to drop unnecessary columns names Reviews_and_trustscore, Address, and more_info.

In [15]:
restaurant_data.drop(columns = ['Reviews_and_trustscore', 'Address', 'more_info'], inplace = True)

In [16]:
restaurant_data.head()

,Restaurant_name,Reviews,Trustscore,Zip_code,City,Checkout
0,Cater Nation,533,4.9,23113,Midlothian,https://trustpilot.com/review/caternation.com
1,Whidbey Island Seafood Company,300,4.9,98249,Freeland,https://trustpilot.com/review/whidbeyseafoods.com
2,ezCater,13378,4.8,02109,Boston,https://trustpilot.com/review/www.ezcater.com
3,SimplyOz.com,1390,4.8,45040,Cincinnati Ohio,https://trustpilot.com/review/simplyoz.com
4,Balkanfresh,74,4.8,NaN,NaN,https://trustpilot.com/review/www.balkanfresh.com

We also need to change the data type of Reviews and Trustscore columns from str to int and float respectively.

In [17]:
restaurant_data[['Reviews', 'Trustscore']] = restaurant_data[['Reviews', 'Trustscore']].apply(pd.to_numeric)

Now it is look like well structured data.
#### Here our data wrangling part is complete now we start some cleaning.

In [18]:
# look for null values

restaurant_data.isnull().sum()

Restaurant_name     0
Reviews            20
Trustscore         20
Zip_code           49
City               49
Checkout            0
dtype: int64

So we have some null values. We want to analyze with respect to Reviews and Trustscore column so it is better to drop those rows of both columns that have null values.

In [19]:
restaurant_data.dropna(subset = ['Reviews', 'Trustscore'], inplace = True)

In [20]:
restaurant_data.isnull().sum()

Restaurant_name     0
Reviews             0
Trustscore          0
Zip_code           42
City               42
Checkout            0
dtype: int64

We successfully drop those rows which have null values and belongs to columns names Reviews and Trustscore.

In [21]:
restaurant_data['Reviews'].shape

(124,)

In [28]:
restaurant_data['Trustscore'].shape

(124,)

Now we can export our well structuted and clean file as csv file.

In [29]:
restaurant_data.to_csv('clean_restaurant_review_data.csv')

# The End