# Importing Library

In [1]:
import pandas as pd

# Importing data

In [2]:
laptop_data = pd.read_csv('laptop_data_new.csv', encoding = 'latin1', names = ['Brand_name', 'Price', 'rating_and_review_count', 'Ratings'])

In [3]:
laptop_data.head(10)

,Brand_name,Price,rating_and_review_count,Ratings
0,HP 15s Core i3 10th Gen - (8 GB/1 TB HDD/Windo...,35990,2658 Ratings & 301 Reviews,4.2
1,HP 14s Core i3 10th Gen - (8 GB/256 GB SSD/Win...,35990,1011 Ratings & 123 Reviews,4.2
2,HP 15 Ryzen 3 Dual Core 3200U - (4 GB/1 TB HDD...,30000,1740 Ratings & 241 Reviews,4.1
3,HP 15s Core i3 10th Gen - (4 GB/512 GB SSD/Win...,42189,1151 Ratings & 163 Reviews,4.4
4,Asus Celeron Dual Core - (4 GB/1 TB HDD/Window...,20990,1532 Ratings & 183 Reviews,4.0
5,HP 15s Ryzen 3 Dual Core 3250U - (4 GB/1 TB HD...,42127,467 Ratings & 70 Reviews,4.4
6,HP 15s Ryzen 5 Quad Core 3500U - (8 GB/512 GB ...,48990,1297 Ratings & 285 Reviews,4.5
7,Lenovo ThinkBook 14 Core i5 10th Gen - (8 GB/2...,46990,20 Ratings & 5 Reviews,4.6
8,Acer One 14 Pentium Gold - (4 GB/1 TB HDD/Wind...,23990,5173 Ratings & 590 Reviews,4.0
9,Acer Aspire 7 Ryzen 7 Quad Core 3750H - (8 GB/...,57990,414 Ratings & 50 Reviews,4.3

In [4]:
laptop_data.shape

(504, 4)

# Data wrangling
Breaking raing_and_review_count column in two columns named Rating_count and Review_count

In [5]:
laptop_data['Rating_count'] = laptop_data['rating_and_review_count'].str.split().str[0]

In [6]:
laptop_data['Review_count'] = laptop_data['rating_and_review_count'].str.split().str[3]

In [7]:
laptop_data.head(10)

,Brand_name,Price,rating_and_review_count,Ratings,Rating_count,Review_count
0,HP 15s Core i3 10th Gen - (8 GB/1 TB HDD/Windo...,35990,2658 Ratings & 301 Reviews,4.2,2658,301
1,HP 14s Core i3 10th Gen - (8 GB/256 GB SSD/Win...,35990,1011 Ratings & 123 Reviews,4.2,1011,123
2,HP 15 Ryzen 3 Dual Core 3200U - (4 GB/1 TB HDD...,30000,1740 Ratings & 241 Reviews,4.1,1740,241
3,HP 15s Core i3 10th Gen - (4 GB/512 GB SSD/Win...,42189,1151 Ratings & 163 Reviews,4.4,1151,163
4,Asus Celeron Dual Core - (4 GB/1 TB HDD/Window...,20990,1532 Ratings & 183 Reviews,4.0,1532,183
5,HP 15s Ryzen 3 Dual Core 3250U - (4 GB/1 TB HD...,42127,467 Ratings & 70 Reviews,4.4,467,70
6,HP 15s Ryzen 5 Quad Core 3500U - (8 GB/512 GB ...,48990,1297 Ratings & 285 Reviews,4.5,1297,285
7,Lenovo ThinkBook 14 Core i5 10th Gen - (8 GB/2...,46990,20 Ratings & 5 Reviews,4.6,20,5
8,Acer One 14 Pentium Gold - (4 GB/1 TB HDD/Wind...,23990,5173 Ratings & 590 Reviews,4.0,5173,590
9,Acer Aspire 7 Ryzen 7 Quad Core 3750H - (8 GB/...,57990,414 Ratings & 50 Reviews,4.3,414,50

Drop the unnecessary column

In [8]:
laptop_data.drop(columns = ['rating_and_review_count'], inplace = True)

In [9]:
laptop_data.head()

,Brand_name,Price,Ratings,Rating_count,Review_count
0,HP 15s Core i3 10th Gen - (8 GB/1 TB HDD/Windo...,35990,4.2,2658,301
1,HP 14s Core i3 10th Gen - (8 GB/256 GB SSD/Win...,35990,4.2,1011,123
2,HP 15 Ryzen 3 Dual Core 3200U - (4 GB/1 TB HDD...,30000,4.1,1740,241
3,HP 15s Core i3 10th Gen - (4 GB/512 GB SSD/Win...,42189,4.4,1151,163
4,Asus Celeron Dual Core - (4 GB/1 TB HDD/Window...,20990,4.0,1532,183

Checking for null values

In [10]:
laptop_data.isnull().sum()

Brand_name        0
Price             0
Ratings         115
Rating_count    115
Review_count    115
dtype: int64

Drop the null values

In [11]:
laptop_data.dropna(inplace = True)

In [12]:
laptop_data.isnull().sum()

Brand_name      0
Price           0
Ratings         0
Rating_count    0
Review_count    0
dtype: int64

In [13]:
laptop_data.shape

(389, 5)